@import url('https://fonts.googleapis.com/css2?family=BenchNine&display=swap');

* {
    padding:0;
    margin:0;
}

body {
    font-family: 'BenchNine', sans-serif;
}

.container {
    height:100vh;
    display: flex;
}

section {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    transition: all .5s;
}

section:hover {
    flex: 1.35;
}

section h2 {
    position: absolute;
    top: 125px;
    font-size: 46px;
    font-weight: 200;
}

.fskm, .fskm h2 {
    background-color: #254769;
    color:#f6505c;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
}

.fpa, .fpa h2 {
    background-color: #f6505c;
    color:#254769;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
}

.btn {
	line-height: 40px;
	height: 40px;
	text-align: center;
	width: 175px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.btn-animate {
	transition: all 0.5s;
	position: relative;
}

.btn-animate::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}

.btn-animate:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}

.btn-animate::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}

.btn-animate:hover::after {
	opacity: 1;
	transform: scale(1,1);
}